@media only screen and (max-width: 1024px) {
    
    .blank_div{
        width: 80% !important;
        height: 700px !important; 
     
         
      }

      .about_info{
         
         width: 900px !important;
         
          
     
      }

    
}



@media only screen and (max-width: 768px) {

  .blank_div{
    width: 70% !important;
    height: 600px !important; 
 
     
  }

  .about_info{
     
     width: 700px !important;
     
      
 
  }
}


@media only screen and (max-width: 768px) {

  .blank_div{
    width: 30% !important;
    height: 600px !important; 
 
     
  }

  .about_info{
     
     width: 300px !important;
     
      
 
  }

  .About_disc{
    padding: 30px 20px;
    width: 250px;
    height: 192px;
    text-align: center;
    margin: auto auto;
    font-size: 19px !important;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    
}

.About_disc p{
   font-size: 17px;
}

}


@media only screen and (max-width: 375px) {

  .blank_div{
     
    height: 650px !important; 
 
     
  }
}