@media only screen and (max-width: 768px) {
    .name_Email_filed{
        display: block !important;
        
         
     }



}


@media only screen and (max-width: 375px) {
    .name_Email_filed{
        display: block !important;
        
         
     }

     .form-control{
        
        font-size: 15px !important;
        font-weight: 400;
        line-height: 10.07px !important;
        text-align: left;
        width:254px !important;
        height:56px; 
        border-radius:8px;
    
        
    }


}