@media only screen and (max-width: 1024px) {
    

    .nanGallery_card {
       
        height: 257px !important;
        padding: 33px !important;
         
    }

    
}


@media only screen and (max-width: 768px) {
    .navgallery_card{
            
            grid-template-columns: auto auto auto !important;
            gap: 11px;
     
     
    }
}
@media only screen and (max-width: 375px) {
    .navgallery_card{
            
             display: flex;
             flex-wrap: wrap;
            gap: 11px;
     
     
    }
}

