

.blank_div{
    width: 100%;
   

   
}

 



.form{
    
    height: 188px;
    border-radius: 8px;
    margin-top: 100px;
    /* margin: 0 auto; */
    width: 870px;
    height: 536px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 20px 20px;
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 1px -1px;
 }

 

.row{ 
    
    padding: 2px;
    
}

.form-control{
    background-color: #F6F7F9;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    width:394px;
    height:56px; 
    border-radius:8px;

    
}

.textarea{
    width: 100px;
    height: 200px;
    border-radius: 8px 0px 0px 0px;
 
}
.btn{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border:none;
    margin-top: 20px;
    margin-bottom: 10px;
}
.map{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

textarea{
    display: flex;
    justify-content: center;
    resize: none;


}

 

label{
    margin-top: 18px;
}

 
 .name_Email_filed{
    display: flex;
 }
 

